<!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">
    <div class="container">
      <!-- Footer Widgets
      ============================================= -->
      <div class="footer-widgets-wrap clearfix">
        <div class="col-sm-12 col-md-3 footer-sec">
          <div class="widget clearfix">
            <img src="/assets/images/fa-logo-white-footer.png" alt="" class="footer-logo">
            <p style="color:#FFF" class='slightly-smaller'>Become a software engineer. Fullstack Academy is an innovative software development school with campuses in NYC and Chicago.</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 footer-sec">
          <div class="widget widget_links clearfix">
            <h4>Campuses</h4>
            <address class="slightly-smaller">
              <h6 style="margin-bottom: 10px;">New York:</h6>
              5 Hanover Square<br> Floor 25<br> New York, NY 10004
            </address>
            <address class="slightly-smaller">
              <h6 style="margin-bottom: 10px;">Chicago:</h6>
              222 W Merchandise Mart Plaza<br> #1212<br> Chicago, IL 60654
            </address>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 footer-sec">
          <div class="widget clearfix">
            <h4>Recent Blog Posts</h4>
            <div id="post-list-footer">
                              <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <p><a href="https://www.fullstackacademy.com/blog/vr-lab-jan-2017">What we&#039;ve learned so far in our VR Lab</a></p>
                    </div>
                    <ul class="entry-meta">
                      <li><h6>22nd December 2016</h6></li>
                    </ul>
                  </div>
                </div>
                              <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <p><a href="https://www.fullstackacademy.com/blog/angular-to-react-fullstack-academy-updates-its-curriculum">Angular to React: Fullstack Academy Updates its Curriculum</a></p>
                    </div>
                    <ul class="entry-meta">
                      <li><h6>05th December 2016</h6></li>
                    </ul>
                  </div>
                </div>
                              <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <p><a href="https://www.fullstackacademy.com/blog/remote-coding-bootcamp-insider-interview-with-instructor-omri">Remote Coding Bootcamp Insider: Interview with Instructor, Omri</a></p>
                    </div>
                    <ul class="entry-meta">
                      <li><h6>21st November 2016</h6></li>
                    </ul>
                  </div>
                </div>
                          </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 footer-sec">
          <div class="widget clearfix">
            <h4>Social Media</h4>
            <div class="clearfix">
              <a target="_blank" href="https://www.facebook.com/FullstackAcademy" class="social-icon si-large si-colored si-facebook">
                <i class="fa fa-facebook "></i></a>
              <a target="_blank" href="http://twitter.com/fullstack" class="social-icon si-large si-colored si-twitter">
                <i class="fa fa-twitter"></i></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCjFO5t0MLyQaidKGpGoRewg" class="social-icon si-large si-colored si-youtube">
                <i class="fa fa-youtube"></i></a>
              <a target="_blank" href="https://www.quora.com/Reviews-of-Fullstack-Academy" class="social-icon si-large si-colored si-quora">
                <i class="fa fa-quora"></i></a>
              <a target="_blank" href="http://www.yelp.com/biz/fullstack-academy-of-code-new-york" class="social-icon si-large si-colored si-yelp">
                <i class="fa fa-yelp"></i></a>
            </div>
          </div>
          <div class="widget clearfix" style="margin-top: 10px;">
            <h4>Contact us</h4>
            <a href="mailto:hello@fullstackacademy.com" class="social-icon si-large si-colored si-mail">
              <i class="fa fa-envelope-o"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <div class="col_half">
          Copyright &copy; 2017, Fullstack Academy, Inc.<br>
        </div>
      </div>
    </div>
    <!-- #copyrights end -->
  </footer>

  <!-- #footer end -->