
	
	    
<div class="container title_container" id="title" style="position: absolute;z-index: 4;display: inline;right: 0px;left: 0px;">
  <h2 class="animated fadeInDown" id="h2res" style="color: white;text-align: center;z-index: 4;position: relative;">Let us help you get to where you're going.</h2>     
     <div class="columnsContainer">

	  	<div class="leftColumn">
	  		<h4 class="animated fadeInLeft" id="h4res" style="text-align: center;z-index: 4;position: relative;">
		Schedule a 1-on-1 portfolio review or career consultation with an experienced member of our staff, 
		and get straightforward advice on the fastest way to achieve your goals. Whether you're creatively
		 unfulfilled in your current job or looking to broaden your skill-set with new technologies or techniques,
		  we believe in making the path to great design easy for everyone to achieve.</h4>

	  		
	  	</div>

	  	<div class="rightColumn">
	  	<div id="image">
	  		<img id="will" src="../assets/images/will.png">
             </div>
	  		
	  	</div>

  	</div>

      
 
               
<div class="container contact_container" id="form" style="font-family:Sawasdee;position:inherit; left: 0px; right: 0px;background: transparent;bottom: 0px; z-index:4">

                                    <div class="panel panel-default box-shadow">

              <div class="panel-body">
              <form method="POST">

                <div class="form-group">
                    <form method="POST" novalidate="novalidate">
						    <p>
						    	Dear Will,

						    	<br><br>

						    	My name is 

								<span>
								<input id="firstname" type="text" designation-form="consultation" placeholder="your first name" style="z-index: 1;" required="" aria-required="true">
								</span>, 

						    	and I'm an aspiring 

						    	<span>
						    	<select id="aspiration" designation-form="consultation" required="" aria-required="true">
						    		<option id="aspiration" selected="selected" value="">Choose aspiration</option>
						    		<option value="UX Designer">UX Designer</option>
						    		<option value="UX Researcher">UX Researcher</option>
						    		<option value="UI Designer">UI Designer</option>
						    		<option value="Product Designer">Product Designer</option>
						    		<option value="Visual Designer">Visual Designer</option>
						    		<option value="Interaction Designer">Interaction Designer</option>
						    		<option value="Front-End Developer">Front-End Developer</option>
						    		<option value="Entrepreneur">Entrepreneur</option>
						    		<option value="Other">Other</option>
						    	</select>
						    	</span>.

						    	<br><br>

						    	I'd love to talk about if DESIGNATION is right for me. I can be reached via email at 

						    	<span>
						    	<input id="email" type="email" placeholder="you@email.com" designation-form="consultation" required="" aria-required="true">
						    	</span>, 

						    	or by phone at 

						    	<span>
						    	<input id="phone" type="tel" designation-form="consultation" placeholder="your phone # (optional)">
						    	</span>.

						    	<br><br>

						    	Thanks and have a great day!

						    	<br><br>

						    	<input id="contact-submit" type="submit" value="SUBMIT" onmouseover="image1()" onmouseout="image2()" designation-form="consultation"
						    	 style="width: 100%;background-color: red;font-weight: bolder;font-family: serif;">

						    	<br><br>
						    </p>
						</form>

                </div>

               </form>
            </div>
          </div><!--.panel-->

    </div><!--.container-->

</div>
   
       <div class="sketch" id = "abc" style="background: #F84B5A;">
</div>             



      <section class="bg_white1">
	</section>
	

    	<section  style="background: red ;height:60px; margin-top : -20px; ">
			<h2 style="color: white;text-align: center;font-family: 'Indie Flower', cursive; font-size: xx-large;font-weight: bolder;">Can't wait? Call us at 312-625-1632.</h2>
</section>




