<div parallax [config]="{parallaxInitVal: -90, parallaxRatio: 1}" id="first-para">
</div>

    <div class="container my-cont">
      <div class="row">
      <div class="col-xs-12">
        
            <div class="about">
                <h3>About 
                  <span>discovered</span>
                </h3>
                
                 <p>We are Discovered. A Digital, Tech &amp; E-Commerce recruitment business based out of the heart of Dubai’s tech start up scene, Astrolabs. Our team eat, live and breathe all things digital, we embrace technology and the social world we live in and say a big NO to outdated recruitment methods, all with the aim to help both candidates and clients discover their potential.
                 <br>
                 <br>
                 We offer tailor-made solutions that provide our clients and candidates with the edge they need to grow and succeed.
                 </p>
                 <br>
                 <div class="points">
                   <img src="../../assets/images/about/note.png">
                   <p>Creative Recruitment Plans rather than a one size fits all, our start-up, agency and big business plans are designed to simplify your process.</p>
                  </div>
                 <br>
                  <div class="points">
                    <img src="../../assets/images/about/connect.png">
                    <p>By Crowd Sourcing, we attract the hottest talent, people you wouldn’t find on a job board or via a LinkedIn search.</p>
                  </div>
                 <br>
                  <div class="points">
                    <img src="../../assets/images/about/message.png">
                    <p>We’re Social, so whether you message, Skype, WhatsApp, Hangout, follow, tag, tweet, meet or call us, we’d love to connect with you.</p>
                  </div>
                     <br>    

                 <!--<button type="button" class="read-button btn-default" (click)="modal.open()">
                    read<br>more
                    <p class="fa-plus">+</p>
                 </button>

                 <modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()" (onOpen)="opened()" [cssClass]="cssClass" #modal  >
                      <div class="modal-dialog">
                      <modal-header [show-close]="true">  
                          <h4 class="modal-title">About discovered</h4>
                      </modal-header>
                      <modal-body>
                      </modal-body>
                      </div>
                  </modal>-->

                  <button class="read-button" (click)="modal-open()" data-toggle="modal" data-target="#modal-fullscreen">
                    read<br>more
                    <p class="fa-plus">+</p>
                  </button>
                   

            <div class="side-tri">
              <img src="../../assets/images/about/side.png">
            </div>
            </div>
      </div>
      </div>
  </div>

<!-- Modal fullscreen -->

<div class="modal" id="modal-fullscreen">
  
    <div class="modal-content">
      <div class="modal-dialog">
        <div class="container">
          <div class="row">
            <div class="modify col-md-10 col-md-offset-1">
              <div class="pop-content scroll-popup">
           <button class="dbutton close-popup" data-dismiss="modal" aria-hidden="true">
            <strong>&times;</strong>
           </button>
         
          <h3>About <span>discovered</span></h3>
          <br><br>
            <div class="social-media-links__widget">			
              <ul class="social-links">  
				<li><a href="https://twitter.com/hashtag/technology?lang=en"><img src="../../assets/images/about/twi.png"></a></li>
				<li><a href="https://www.facebook.com/DiscoveredMENA"><img src="../../assets/images/about/fb.png"></a></li>
				<li><a href="https://www.instagram.com/discovered.ae"><img src="../../assets/images/about/insta.png"></a></li>
				<li><a href="https://www.linkedin.com/company/10973412"><img src="../../assets/images/about/link.png"></a></li>
				<li><a href="https://www.skype.com/en/"><img src="../../assets/images/about/sky.png"></a></li>
			</ul>
		</div>

<div class="points">
  
    <p>Whether your start-up is receiving investment and scaling, or you’re an enterprise business going through a digital transformation; we simplify the process, execute our plans in a fast and efficient method, ultimately reducing time to hire whilst finding the best talent to reach your business goals.</p>
    <p>Over the last decade, we have been building our specialist networks, keeping up-to-date with emerging trends and technologies and working alongside the coolest start-ups, cutting edge e-commerce companies and the biggest businesses in the region.</p>
               
               <h4>The team behind discovered</h4>
               
               <div class="shortcode col-two">
                 <img src="../../assets/images/about/dev1.jpg">
                 <br>
                 <a href="https://ae.linkedin.com/in/johnfrichardson">
                    <img src="http://discovered.ae/wp-content/uploads/2016/11/linkedIn-icon.png" alt=""> 
                 </a>
                <a href="mailto:john@discovered.ae">
                   <img src="http://discovered.ae/wp-content/uploads/2016/11/email-icom.png" alt="">
                 </a> 
               <br><br>
               <h5>John Richardson</h5>
               <p>Co-Founder &amp; Director<br><br>
I started my career in recruitment back in the noughties, specialising in executive healthcare on an international level. With this niche specialism, Boolean has become a second language. I’ve spent many hours scouring the globe for the best talent… they’ll be no stone left unturned with me.</p>
<p>In early 2014 I decided to leave the rain behind and head for the sun, arriving in Dubai with a just a suitcase and Google Maps to find my way around. Living in Dubai, you realise how quickly it is evolving and how much technology drives this, along with Mark, we decided to combine our recruitment skills and passion for the digital world, from this we created Discovered in order to better serve the region with its Digital, Tech and Ecommerce plans.</p>
<p>As for my background, I have always been an IT geek at heart, from studying computer programming at college to keeping abreast with the latest trends and technologies of the digital world. A true lover of social media and coffee, give me caffeine and a meme and you’ll make my day.</p>
<p>Get in touch with me to whether you’re a candidate looking for your next role or a client wanting to discuss your new start-up or expansion plans.</p>

               </div>

               <div class="shortcode col-two">
               <img src="../../assets/images/about/dev2.jpg">
               <br>
               <a href="https://ae.linkedin.com/in/markcarson17">
                  <img src="http://discovered.ae/wp-content/uploads/2016/11/linkedIn-icon.png" alt=""> 
               </a>
               
               <a href="mailto:mark@discovered.ae">
                 <img src="http://discovered.ae/wp-content/uploads/2016/11/email-icom.png" alt="">
               </a>
<br><br>
               <h5>Mark Carson</h5>
               <p>Co-Founder &amp; Director<br><br>
Entering my 9th year of the crazy world of recruitment and still love every minute of it. I started back in 2008, helping blue chip companies build world class IT infrastructure teams.</p>
<p>Then, in 2010, I saw a big gap in the market, Digital was the new kid on the block, I was hooked, I could see the potential and I made the transition from IT to Digital, supplying talent to the major Digital agencies, big retailers and financial services companies. Global expansion of these digital businesses came in 2012 Dubai was firmly on my radar, the majority of my time was spent helping clients relocate the best Digital, Tech and Ecommerce talent from the UK to Dubai.</p>
<p>In 2014, I personally made the jump, with never setting foot in Dubai before (some say crazy, I say just go for it). From scratch, I launched one of the UK’s best Digital Recruitment businesses into Dubai, establishing the team and supplying talent to the region’s leading Digital players.</p>
<p>So, if you’re a client and want an expert to help build and scale your team, or looking for a recruiter that understands candidates needs when making the move, get in touch.<br>
</p>
               </div>
               
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>  
                 
            

    


