   

  <ng2-tab
    selected="virtual"
    selected-index-class="selected"
    selected-contents-class="fadeIn animated"
    selected-circle-class="wobble colorfill"
    abc="popmeup">
<div>
    <div class="tabs">
      <div index="virtual"><br><div class="timeline" style="margin-left:45%;"><div circle="virtual" style="left:-47%;">1</div></div><img class="tabimg" src="virtual.svg">
       <span class="temp">VIRTUAL PHASE</span>
        <a class="btn primary_btn lg_btn" role="button">WEEKS 1-6 (VIRTUAL)</a>
    </div>
      <div index="project"><br><div class="timeline"><div circle="project">2</div></div> <img class="tabimg" src="project.svg">
        <span class="temp">PROJECT PHASE</span>
        <a class="btn primary_btn lg_btn" role="button">WEEKS 7-16</a>
    </div>
      <div index="portfolio"><br><div class="timeline"><div circle="portfolio">3</div></div> <img class="tabimg" src="portfolio.svg">
        <span class="temp">PORTFOLIO DEVELOPMENT</span>
        <a class="btn primary_btn lg_btn" role="button">WEEKS 17-18</a>
    </div>
      <div index="job"><br><div class="timeline" style="margin-left:-45%;"><div circle="job" style="left:47%;">4</div></div><img class="tabimg" src="job.svg">
        <span class="temp">JOB PLACEMENT</span>
          <a class="btn primary_btn lg_btn" role="button">WEEKS 18+</a>
      </div>
    </div>

    <div class="tab-contents">
      <div contents="virtual">
        <div class="contentHeadings"><div class="ConTopImage"><img src="virtual.svg"></div>
        <div class="ConHeading"><h2>VIRTUAL PHASE</h2></div>
        </div>
          <div class="ConText float_left"><p class="para">At the start of the 18-week bootcamp experience, students opt into a UX or UI focused path, then get exposed to the key skills and tools of that discipline. Because the material in the main program moves quickly, it's critical students be ready to start building interfaces right from the first day of the in-class session.</p>
        <h3>UX PATH</h3>
          <p class="para">Intro to User Research, Usability Testing, Research Synthesis, Wireframing, Prototyping</p>
        <h3>UI PATH</h3>
          <p class="para">Style Tiles, Visual Design, Interaction Design Principles, Branding, Typography & Color Theory, Prototyping</p> 
          </div><!--
        --><div class="mybox sec black1 bg_white1 box-shadow width_thirty_percent float_right" style="display: inline-block">
            <div class="grid_90 black1">
              <div class="sidebox"><span class="bg_white1 fs21">
                Details
              </span>
              </div>
              <br>
              <ul class="ulist">
                <li>30 hours/week</li>
                <li>Weekly check-ins</li>
                <li>Virual coaching and feedback</li>
                <li>Online peer collaboration</li>
                <li>Tailored prep work</li>
              </ul>
            </div>
        </div>
      </div> <!--virtual div closed-->

      <div contents="project">
        <div class="contentHeadings"><div class="ConTopImage"><img src="project.svg"></div>
        <div class="ConHeading"><h2>PROJECT PHASE</h2></div>
        </div>
          <div class="ConText float_left"><p class="para">After mastering the basics, the Project Phase is all about applying what you've learned on both mock and live client projects. You'll be given the opportunity to work with a wide variety of outside companies to collaborate in teams and create real world deliverables. <a class="universal" href="">Check out the showcase</a> for the kind of work you can expect to accomplish. You’ll also be assigned a mentor who you’ll build a close, one-to-one relationship with as you explore new career opportunities, develop your portfolio, and refine the work you’re doing throughout the program.</p>
          <p class="para">You'll also have discounted or free access to the most cutting-edge software in the design industry:</p>
        <h3>WEEKS 7-10</h3>
          <p class="para">Team-based class project</p>
          <h3>WEEKS 11-16</h3>
          <p class="para">Work collaboratively on live client projects</p>
          </div><!--
          --><div class="mybox sec black1 bg_white1 box-shadow width_thirty_percent float_right" style="display: inline-block">
            <div class="grid_90 black1">
              <div class="sidebox"><span class="bg_white1 fs21">
                Details
              </span>
              </div>
              <br>
              <ul class="ulist">
                <li>70 hours/week</li>
                <li>Mon - Fri @ 10AM - 9Pm</li>
                <li>Morning sprints</li>
                <li>Guest speakers</li>
                <li>Hands-on group learning</li>
              </ul>
            </div>
        </div>
      </div> <!--Project div closed-->

      <div contents="portfolio">
        <div class="contentHeadings"><div class="ConTopImage"><img src="portfolio.svg"></div>
        <div class="ConHeading"><h2>PORTFOLIO DEVELOPMENT</h2></div>
        </div>
        <div class="ConText float_left"><p class="para">During this portion of the curriculum, you'll be given career workshops, studio tours, and one-on-one mentorship and guidance as you develop your resume, personal brand, and your portfolio. The goal of this phase is to develop case studies around the projects that you completed in the previous 10 weeks and to have a professional portfolio to begin your job hunt.</p>
        <h3>WEEKS 17-18</h3>
          <p class="para">Career counseling and portfolio development</p>
        </div><!--
          --><div class="well mybox sec black1 bg_white1 box-shadow width_thirty_percent float_right" style="display: inline-block">
            <div class="grid_90 black1">
              <div class="sidebox"><span class="bg_white1 fs21">
                Details
              </span>
              </div>
              <br>
              <ul class="ulist">
                <li>70 hours/week</li>
                <li>Mon - Fri @ 10AM - 9PM, Sat @ 10AM - 3PM</li>
                <li>Career guidance</li>
                <li>Mentorship</li>
                <li>Portfolio and resume construction</li>
                <li>Hiring Partner company introductions</li>
              </ul>
            </div>
        </div>
      </div>  <!--portfolio div closed-->

      <div contents="job">
        <div class="contentHeadings"><div class="ConTopImage"><img src="job.svg"></div>
        <div class="ConHeading"><h2>POST-GRADUATION</h2></div>
        </div>
          <div class="ConText float_left"><p class="para">The support and mentorship doesn't end at graduation. We're personally committed to working with every one of our alumni for as long as they need to continue evaluating work, providing mentorship and guidance, and facilitating job placement.</p> 
          <p class="para">You will never be alone in your job search process. Ever. <a class="universal" href="">Read more</a> about our unique post-gradute support.</p>
          <h3>WEEKS 18+</h3>
          <p class="para">Post-graduation assistance</p>
          </div><!--
        --><div class="well mybox sec black1 bg_white1 box-shadow width_thirty_percent float_right" style="display: inline-block">
            <div class="grid_90 black1">
              <div class="sidebox"><span class="bg_white1 fs21">
                Details
              </span>
              </div>
              <br>
              <ul class="ulist">
                <li>Career support</li>
                <li>Monthly checkins</li>
                <li>Continued mentorship</li>
                <li>Unlimited email correspondance</li>
              </ul>
            </div>
        </div>
    </div> <!--job div closed-->
    </div>  <!--tab-contents div closed-->
</div>
  </ng2-tab>
