<div class = "course-comp">
<div id = "course-header" style="background-image: url('/assets/images/bg-header.jpg');">
    <div class="intro-content">
        <img src="/assets/images/logo.png" class="img-responsive img-centered" alt="Angular Academy">
        <div class="brand-name">Angular Academy</div>
        <hr class="colored">
        <div class="brand-name-subtext">
            Learn Angular and TypeScript Now!
            <ul class="list-inline" style="display:inline">
                <li>
                    <a href="https://www.facebook.com/AngularAcademy" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/AngularAcademy" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>

</div>

<section id="about" class="bg-red">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn animated" style="visibility: visible;">
                <h1>Learn Angular Now!</h1>
                <p>Angular Academy is a 2 day hands-on public course given in-person across Canada!</p>
            </div>
        </div>
        <div class="row text-center content-row">
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-info-circle fa-4x"></i>
                    <h3>What&#39;s in it?</h3>
                    <p>Learn the core concepts of coding an end-to-end app with Angular and TypeScript from an industry expert.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-code fa-4x"></i>
                    <h3>Workshop</h3>
                    <p>Bring your laptop! An important part of the training is dedicated to building apps together and testing things in real time (bootcamp style).</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                <div class="about-content">
                    <img src="./assets/images/leaf.png" alt="Canada" />
                    <h3>Canadian!</h3>
                    <p>If you are in Canada we want to visit you. We are bringing the course to Montreal, Vancouver, Toronto, Ottawa, Calgary, Quebec, ...</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                <div class="about-content">
                    <i class="fa fa-check-square fa-4x"></i>
                    <h3>Prerequisites</h3>
                    <p>You should have significant experience in building web applications with HTML5 and JavaScript. No previous experience with AngularJS is required.</p>
                </div>
            </div>
        </div>
</section>
<section id="outline" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h2>2 day course outline</h2>
                <hr class="colored">
                <p>This technical course covers all the core concepts and guides you to build end-to-end Angular 2 applications, including the role of ES6/TypeScript, project setup, code structure, style guide, using the Angular CLI, data binding and MV*, abstracted remote data calls through services, observables, and routing. Angular Academy is the ideal starting point to understand and use Angular 2 effectively now. You’ll experience several demos and &quot;code along&quot; activities and be provided with the code throughout the workshop, as you learn how to build apps using Angular 2.</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 wow fadeIn" data-wow-delay=".2s">
                <div class="media">
                    <div class="pull-left tick">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Day 1</h3>
                        <ul>
<li>ES2015 (ES6) and TypeScript fundamentals</li>
<li>Setup and Tooling</li>
<li>Getting started with the Angular CLI</li>
<li>Introduction to Angular</li>
<li>Structure of an app</li>
<li>The Components Model
    <ul>
	<li>Decorators (metadata)</li>
	<li>Templating Syntax</li>
	<li>Data Binding</li>
	<li>Directives</li>
	<li>Events</li>
	<li>Input and Output properties</li>
    </ul>
</li>
</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay=".4s">
                <div class="media">
                    <div class="pull-left tick">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Day 2</h3>
                        <ul>
<li>Dependency Injection and providers</li>
<li>Services</li>
<li>Async with Reactive Extensions (RxJS, Observables)</li>
<li>Requests to a REST API (HTTP)</li>
<li>NgModules</li>
<li>Ahead-of-time compilation and Tree Shaking</li>
<li>Deploying to production</li>
<li>Navigation and Routing</li>
<li>Lazy-loading</li>
<li>Forms and Validation</li>
<li>Best Practices!</li>
</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Phase 4-->

<div class="cta-quote" style="background-image: url('/assets/images/bg-aside.jpg');">
    <div class="container text-center wow fadeIn">
        <h2>Why is it for me?</h2>
        <p>
            <i class="fa fa-quote-left fa-2x pull-left fa-border"></i>
            <span class="quote">You are already familiar with html, css and javascript. Now you want to bring web development to the next level using Angular and TypeScript! At the end of this class, each student should be able to use Angular 2 to make an end-to-end, working application.</span>
        </p>
        <hr class="colored">
        <a class="btn btn-outline-light page-scroll" href="#register">Register</a>
    </div>
</div>

