/*.hero.parallax .continer{
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero .parallax .continer .text_middle h2 {
    color: white;
}

.hero .parallax .continer .text_middle h2 typed-text{
    color: #9acb00;
}

.hero, .parallax{
    color: red;
}*/

.hero .container-text{
    position: relative;
    z-index: 2;
    text-align: center;  
    top : 200px; 
}
.hero .container-text .text_middle h2 {
    color: white;
    font-size: 3em;
    height: 120px;

}

.hero .container-text .text_middle h2 b{
    color: #472f91;
    font-size: 1.5em;
}

@media (min-width : 768px) and (max-width : 991px) {
    .hero .container-text .text_middle h2 {
    font-size: 2.2em;

}
.hero .container-text .text_middle h2 b{
font-size: 1.8em;
}
}
@media (min-width : 480px) and (max-width : 767px) {
    .hero .container-text .text_middle h2 {
    font-size: 2em;

}
.hero .container-text .text_middle h2 b{
font-size: 1.4em;
}
.hero .container-text{
    top : 150px; 
}
}

@media (min-width : 320px) and (max-width : 479px) {
    .hero .container-text .text_middle h2 {
    font-size: 1.5em;

}
.hero .container-text .text_middle h2 b{
font-size: 1.3em;
}
.hero .container-text{
    top : 150px; 
}
}