
<div id="myImg2" style="height:700px; width:1349px; position:fixed;" [style.visibility]="viz">

<div parallax  [config]="{
	initialValue: 50,
	ratio: -.35}" id="first-example">

</div>
</div>

<div class="navContainer">

<div class="navbar-fixed-top navbg" style="z-index:2; position:fixed; height: 50px;">
<div style="margin: 0 auto; display: flex; width: 1200px;">

<a href="https://nycdatascience.com" class="site-logo"></a>	

<div class="rightAlign">

<div class="inlineMenu">    
<a>Bootcamps</a>

<div class="fnavMenu" tabindex="-1">
		<a class="fnavMenuOp" href="https://nycdatascience.com/data-science-bootcamp/">Data Science</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/alumni/">Alumni</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Testimonials</a>
</div>
</div>

<div class="inlineMenu">    
<a>Online</a>
<div class="fnavMenu" tabindex="-1">
		<a class="fnavMenuOp" href="https://nycdatascience.com/data-science-bootcamp/">Data Science</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/alumni/">Alumni</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Testimonials</a>
</div>
</div>

<div class="inlineMenu">    
<a>Short Courses</a>
<div class="fnavMenu" tabindex="-1">
		<a class="fnavMenuOp" href="https://nycdatascience.com/data-science-bootcamp/">Introductory Python</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/alumni/">Big Data with Hadoop and Spark</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Data Science with Python: Machine Learning</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Data Science with R: Machine Learning</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Data Science with Python: Data Analysis and Visualization</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Data Science with R: Data Analysis and Visualization</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Intro to Data Science with R (2-day intensive)</a>
</div>
</div>

<div class="inlineMenu">    
<a>Corporate Offerings</a>
<div class="fnavMenu" tabindex="-1">
		<a class="fnavMenuOp" href="https://nycdatascience.com/data-science-bootcamp/">Data Science</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/alumni/">Alumni</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Testimonials</a>
</div>
</div>

<div class="inlineMenu">    
<a>Hiring Partners</a>
<div class="fnavMenu" tabindex="-1">
		<a class="fnavMenuOp" href="https://nycdatascience.com/data-science-bootcamp/">Data Science</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/alumni/">Alumni</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Testimonials</a>
</div>
</div>

<div class="inlineMenu">    
<a>Student Projects</a>
<div class="fnavMenu" tabindex="-1">
		<a class="fnavMenuOp" href="https://nycdatascience.com/data-science-bootcamp/">Data Science</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/alumni/">Alumni</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Testimonials</a>
</div>
</div>

<div class="inlineMenu">    
<a>About Us</a>
<div class="fnavMenu" tabindex="-1">
		<a class="fnavMenuOp" href="https://nycdatascience.com/data-science-bootcamp/">Data Science</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/alumni/">Alumni</a>
		<a class="fnavMenuOp" href="https://nycdatascience.com/testimonials/">Testimonials</a>
</div>
</div>
</div>

</div>

</div>
</div>
