<div style="margin: 0 auto; width: 1200px;">
<div class="leftNav" [style.position]="poz" [style.top]="topVal">


					<a class="leftNavContent">Program Highlights</a>
					<a class="leftNavContent">Overview</a>
					<a class="leftNavContent">Info Session</a>
					<a class="leftNavContent">Curriculum</a>
					<a class="leftNavContent">Daily Schedule</a>
					<a class="leftNavContent">Advisors</a>
					<a class="leftNavContent">Instructors</a>
					<a class="leftNavContent">Customized pre-work</a>
					<a class="leftNavContent">Have more questions?</a>
					<a class="leftNavContent">Testimonials</a>
					<a class="leftNavContent">FAQ</a>
					<a class="leftNavContent">Students</a>
</div>
</div>