<div class="overView">

<div class="overContent">

<div class="overRow">
<div class="overLeft">Overview</div>

<div class="overRight">
<p>
In this program students will learn beginner and intermediate levels of Data Science with R, Python & Hadoop as well as the most popular and useful packages like dplyr, scikit-learn, and more. Once the foundation of learning has been set, students work on projects throughout the bootcamp. Along the way, students will have assistance in preparing for the job search through resume review and interview preparation.
</p>

<p style="font-weight: bold">
NYCDSA is a fully-licensed school in New York State. Both in-person and online bootcamp programs were approved by Department of Education.
</p>
</div>

</div>

<div class="overRow">
<div class="overLeft">Prerequisites</div>

<div class="overRight">Ideal applicants should have a Masters or PhD degree in Science, Technology, Engineering or Math or equivalent experience in quantitative science or programming. Applicants with a bachelor's degree will also be considered.</div>    
</div>

<div class="overRow">
<div class="overLeft">Schedule</div>

<div class="overRight">Monday through Friday, from 9:30am to 6:00pm</div>    
</div>

<div class="overRow">
<div class="overLeft">Location</div>

<div class="overRight">500 8th Avenue, Suite 905, New York, NY 10018</div>  
</div>

<div class="overRow">
<div class="overLeft">Application</div>

<div class="overRight"><p style="padding-bottom: 20px;">All applications are processed on a rolling basis.</p><br>
<p>
The earlier you're admitted to the bootcamp, the more time the academy has to work with you to make sure you are as well prepared as possible. Many candidates apply as much as 6 months before the bootcamp begins.
</p>    
</div>   
</div>

<div class="overRow">
<div class="overLeft">Pricing</div>

<div class="overRight">Tuition is $16,000.</div>    
</div>

<div class="overRow">
<div class="overLeft">Financing Option</div>

<div class="overRight">We partner with Skills Fund, an innovative financing company who offers fixed interest rates on 3- and 5-year loans, regardless of current income, employment, or educational background. Learn More. </div>   
</div>

<div class="overButtons" style="margin-top:50px">
	<div class="overBtnArea">
	<a href="#" class="overBtn1">Apply Now</a>
    <a href="#" class="overBtn2">Request More Information</a>
    </div>
</div>


</div>
</div>
